<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.drmarten.mappers.BoardMapper">
<insert id="saveNotice" parameterType="com.ezen.drmarten.model.Board">
INSERT INTO NOTICE (BOARD_NUM, TITLE, CONTENTS, WDATE, WRITER, CATEGORY, VIEW_COUNT)
VALUES (
	(select count(*)from NOTICE)+1, #{title}, #{contents}, SYSDATE, '관리자', #{category}, 0)
</insert>
<insert id="saveQA" parameterType="com.ezen.drmarten.model.Board">
INSERT INTO QA (BOARD_NUM, TITLE, CONTENTS, WDATE, WRITER, CATEGORY, VIEW_COUNT)
VALUES (
	(select count(*)from QA)+1, #{title}, #{contents}, SYSDATE, '관리자', #{category}, 0)
</insert>
<insert id="saveReview" parameterType="com.ezen.drmarten.model.Board">
INSERT INTO REVIEW (BOARD_NUM, TITLE, CONTENTS, WDATE, WRITER, PRODUCT_CODE, SCORE, FNAME, FPATH, ORDER_NUM)
VALUES (
	(select count(*)from REVIEW)+1, #{title}, #{contents}, SYSDATE, #{writer}, #{product_code}, #{score}, #{fname}, #{fpath},#{order_num})
</insert>
<insert id="saveMyQna" parameterType="com.ezen.drmarten.model.Board">
INSERT INTO MYQNA (BOARD_NUM, TITLE, CONTENTS, WDATE, WRITER, PRODUCT_CODE, PCODE, ORDER_NUM, CATEGORY)
VALUES (
	(select count(*)from MYQNA)+1, #{title}, #{contents}, SYSDATE, #{writer}, #{product_code},#{pcode}, #{order_num}, #{category})
</insert>
<insert id="saveRep" parameterType="com.ezen.drmarten.model.Board">
INSERT INTO MYQNA (BOARD_NUM, TITLE, CONTENTS, WDATE, WRITER, PRODUCT_CODE, PCODE, ORDER_NUM, CATEGORY,ORIGIN_NUM)
VALUES (
	(select count(*)from MYQNA)+1, #{title}, #{contents}, SYSDATE, #{writer}, #{product_code},#{pcode}, #{order_num}, #{category},${origin_num})
</insert>
<select id="getNoticeList"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM NOTICE order By Board_num DESC
</select>
<select id="getLatestNotice"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM (
	SELECT * FROM NOTICE order By Board_num DESC) <![CDATA[WHERE ROWNUM <= 2]]>
</select>
<select id="getQnaList"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM QA order By Board_num DESC
</select>
<select id="getReview"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM REVIEW WHERE order_num=#{num}
</select>
<select id="getMyQnaForProduct"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM MYQNA WHERE product_code=#{product_code} AND PCODE=0 order By wdate DESC
</select>
<select id="getMyQna2"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM MYQNA WHERE writer=#{email} AND PCODE=0
</select>
<select id="getMyQnaRP"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM MYQNA WHERE PCODE!=0
</select>
<select id="getProductReview"  parameterType="Integer" resultType="com.ezen.drmarten.model.Board">
SELECT * FROM REVIEW WHERE PRODUCT_CODE=#{product_code}
</select>
<select id="getReviewList"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM REVIEW  order By Board_num DESC
</select>
<select id="getMyQnaList"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM MYQNA WHERE PCODE=0 order By wdate DESC
</select>
<select id="getQnaListByCategory"  parameterType="String"  resultType="com.ezen.drmarten.model.Board">
SELECT * FROM QA WHERE category=#{category} order By Board_num 
</select>

<select id="searchQnaList" parameterType="String" resultType="com.ezen.drmarten.model.Board">
SELECT * FROM QA WHERE title LIKE '%'||#{search}||'%'
</select>
<select id="getMyQna" parameterType="Integer" resultType="com.ezen.drmarten.model.Board">
SELECT * FROM MYQNA WHERE BOARD_NUM = #{num}
</select>
<select id="getMyQnaREP" parameterType="Integer" resultType="com.ezen.drmarten.model.Board">
SELECT * FROM MYQNA WHERE ORIGIN_NUM = #{num}
</select>
<select id="getNotice" parameterType="Integer" resultType="com.ezen.drmarten.model.Board">
SELECT * FROM NOTICE WHERE BOARD_NUM = #{num}
</select>
<select id="getQa" parameterType="Integer" resultType="com.ezen.drmarten.model.Board">
SELECT * FROM QA WHERE BOARD_NUM = #{num}
</select>
<insert id="deleteMyQna"  parameterType="Integer">
DELETE FROM MYQNA WHERE BOARD_NUM = #{num}
</insert>
<insert id="deleteQa"  parameterType="Integer">
DELETE FROM QA WHERE BOARD_NUM = #{num}
</insert>
<insert id="deleteReview"  parameterType="Integer">
DELETE FROM REVIEW WHERE BOARD_NUM = #{num}
</insert>
<insert id="deleteNotice"  parameterType="Integer">
DELETE FROM NOTICE WHERE BOARD_NUM = #{num}
</insert>
<insert id="updateNotice"  parameterType="com.ezen.drmarten.model.Board">
UPDATE NOTICE SET title=#{title}, contents=#{contents}, category=#{category} WHERE board_num=#{board_num}
</insert>
<insert id="updateQa"  parameterType="com.ezen.drmarten.model.Board">
UPDATE QA SET title=#{title}, contents=#{contents}, category=#{category} WHERE board_num=#{board_num}
</insert>
<insert id="updateMyQna"  parameterType="com.ezen.drmarten.model.Board">
UPDATE MYQNA SET title=#{title}, contents=#{contents}  WHERE board_num=#{board_num}
</insert>
<insert id="noticeView" parameterType="Integer">
update NOTICE  set view_count = view_count + 1 where board_num = #{num}
</insert>
<insert id="qaView" parameterType="Integer">
update QA  set view_count = view_count + 1 where board_num = #{num}
</insert>
</mapper>