<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ezen.drmarten.mappers.ProductMapper">

	<select id="getList" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT
	</select>
	<select id="bestSearch" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT WHERE ROWNUM >= 1 AND 3 >= ROWNUM ORDER BY SELL_COUNT DESC
	</select>
	
	<select id="getProductByCode" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT WHERE PRODUCT_CODE = #{product_code}
	</select>

	<insert id="add_upload" parameterType="com.ezen.drmarten.model.Product">
								

		insert into product
			(PRODUCT_CODE,NAME,MADE,MATERIAL,GENDER,
			NEW_TAG,COLOR,SELL_COUNT,VIEW_COUNT,CATEGORY,PRICE,DISCOUNT,ONLINEONLY,VEGAN)
		VALUES
			((#{product_code}+PRODUCT_NUM.nextval),#{name},#{made},#{material},#{gender},
			'NEW',#{color},'0','1',#{category},#{price},#{discount},#{onlineonly},#{vegan})
		
	</insert>
	
	<insert id="add_attach" parameterType="com.ezen.drmarten.model.Product_attach">
		INSERT INTO PRODUCT_ATTACH VALUES(#{product_code}+PRODUCT_NUM.CURRVAL, #{fname}, #{fpath})
	</insert>
	
	<insert id="add_attach2" parameterType="com.ezen.drmarten.model.Product_attach">
		INSERT INTO PRODUCT_ATTACH VALUES(#{product_code}, #{fname}, #{fpath})
	</insert>
	
	<select id="getCodeByName" resultType="Integer" parameterType="String">
		SELECT PRODUCT_CODE FROM PRODUCT where NAME=#{name} AND COLOR=#{color}
	</select>
	
	<update id="addStock" parameterType="java.util.List">
    INSERT INTO PRODUCT_SIZE (PRODUCT_CODE, PRODUCT_SIZE, PRODUCT_COUNT)
    SELECT t.* FROM
    (
        <foreach collection="list" item="item" index="index" separator="union all">
             SELECT #{item.product_code}, #{item.product_size}, #{item.product_count} FROM DUAL
        </foreach>
    ) t
	</update>

	<select id="searchLikeName" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT where name LIKE '%' || #{name} || '%'
	</select>
	
	
	<select id="searchAttachByCode" resultType="com.ezen.drmarten.model.Product_attach" parameterType="Integer">
		SELECT * FROM PRODUCT_ATTACH where PRODUCT_CODE = #{product_code}
	</select>
	
	<select id="serachSizeByCode" resultType="com.ezen.drmarten.model.Product_size" parameterType="Integer">
		SELECT * FROM PRODUCT_SIZE where PRODUCT_CODE = #{product_code}
	</select>
	
	
	<select id="categorySearch" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT
		WHERE 
		<choose>
			<when test='category.equalsIgnoreCase("male")'>
				GENDER != '여성' 
			</when>
			<when test='category.equalsIgnoreCase("female")'>
				GENDER != '남성' 
			</when>
			<when test='category.equalsIgnoreCase("boots")'>
				CATEGORY = 'BOOTS'
			</when>
			<when test='category.equalsIgnoreCase("sandals")'>
				CATEGORY = 'SANDALS'
			</when>
			<when test='category.equalsIgnoreCase("shoes")'>
				CATEGORY = 'SHOES'
			</when>
			<when test='category.equalsIgnoreCase("vegan")'>
				VEGAN = 'yes'
			</when>
			<when test='category.equalsIgnoreCase("online_only")'>
				ONLINEONLY = 'yes'
			</when>
			<when test='category.equalsIgnoreCase("vietnam")'>
				MADE = '베트남 외 기타'
			</when>
			<when test='category.equalsIgnoreCase("england")'>
				MADE = '영국 외 기타'
			</when>
			<when test='category.equalsIgnoreCase("new")'>
				NEW_TAG = 'NEW'
			</when>
			<when test='category.equalsIgnoreCase("MIE")'>
				name LIKE '%' || 'MIE' || '%'
			</when>
		</choose>
	</select>
	
	<select id="genderAndCategorySearch" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT
		WHERE 
		<choose>
			<when test='gender.equalsIgnoreCase("male")'>
				GENDER != '여성' 
			</when>
			<when test='gender.equalsIgnoreCase("female")'>
				GENDER != '남성' 
			</when>	
			<when test='gender.equalsIgnoreCase("both")'>
				GENDER != '전부' 
			</when>		
		</choose>
		AND
		<choose>
			<when test='category.equalsIgnoreCase("boots")'>
				CATEGORY = 'BOOTS'
			</when>
			<when test='category.equalsIgnoreCase("sandals")'>
				CATEGORY = 'SANDALS'
			</when>
			<when test='category.equalsIgnoreCase("shoes")'>
				CATEGORY = 'SHOES'
			</when>
			<when test='category.equalsIgnoreCase("discount")'>
				DISCOUNT != 0
			</when>
		</choose>
	</select>
	
	<select id="duelCategorySearch" resultType="com.ezen.drmarten.model.Product">
		SELECT * FROM PRODUCT
		WHERE 
		<choose>
			<when test='category.equalsIgnoreCase("boots")'>
				CATEGORY = 'BOOTS'
			</when>
			<when test='category.equalsIgnoreCase("sandals")'>
				CATEGORY = 'SANDALS'
			</when>
			<when test='category.equalsIgnoreCase("shoes")'>
				CATEGORY = 'SHOES'
			</when>
			
		</choose>
		AND DISCOUNT = #{discount}
	</select>
	<!-- 삭제 XML sql 만들면돼! -->
	<delete id="deleteAtt" parameterType="Integer">
		DELETE FROM PRODUCT_ATTACH WHERE PRODUCT_CODE = #{product_code}
	</delete>
	<delete id="deleteSize" parameterType="Integer">
		DELETE FROM PRODUCT_SIZE WHERE PRODUCT_CODE = #{product_code}
	</delete>
	<delete id="deleteProduct" parameterType="Integer">
		DELETE FROM PRODUCT WHERE PRODUCT_CODE = #{product_code}
	</delete>
	<update id="sellProduct" parameterType="Integer">
		UPDATE Product_size
		SET PRODUCT_COUNT = (PRODUCT_COUNT - #{sellCount})
		WHERE PRODUCT_CODE = #{product_code} AND PRODUCT_SIZE=#{size}
	</update>   
	<update id="addViewCount" parameterType="Integer">
		UPDATE Product
		SET VIEW_COUNT = (VIEW_COUNT + 1)
		WHERE PRODUCT_CODE = #{product_code}
	</update>   
</mapper> 
							<!--  MIE 이름 검색 url 맵핑 어떻게 연결 할 것인지 ? -->
							
							
							
							
							
							