<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>닥터마틴</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/resources/css/main.css">
    <script src="/resources/js/main.js"></script>
</head>
<body>
<header id="header">

</header>
<div id="visual1">
    <div class="wrap">
        <div class="img_wrap slide1">
            <img src="/resources/img/main/sl1.jpg" alt="">
        </div>
        <div class="img_wrap slide2">
            <img src="/resources/img/main/sl2.jpg" alt="">
        </div>
        <div class="img_wrap slide3">
            <img src="/resources/img/main/sl3.jpg" alt="">
        </div>
    </div>
    <div class="btn_wrap">
        <div class="prev"></div>
        <div class="next"></div>
    </div>
</div>
<div class="item_con sec1">
    <div class="inner">
        <h3 class="title">MD 추천</h3>
        <ul id="category1">
            <li>샌들 10%
                <div class="category_detail">
                    <div class="slide_wrap">
                        <div class="slide1">
                            <div class="wrap">
                                <div class="item left">

                                </div>
                                <div class="item right">

                                </div>
                            </div>
                        </div>
                        <div class="slide2">
                            <div class="wrap">
                                <div class="item left">

                                </div>
                                <div class="item right">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="slide3">
                            <div class="wrap">
                                <div class="item left">

                                </div>
                                <div class="item right">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="prev"></div>
                        <div class="pgn_wrap"></div>
                        <div class="next"></div>
                    </div>
                </div>
            </li>
            <li>베스트슈즈</li>
            <li>온라인 단독</li>
            <li>친환경 비건</li>
            <li>Made In England</li>
        </ul>
    </div>
</div>
<div class="item_con sec2">

</div>
<div class="best_icon sec3">

</div>
<div class="banner">
    <img src="/resources/img/main/banner1.jpg" alt="">
</div>
<div id="visual2">

</div>
<div class="category">

</div>
<div class="membership">

</div>
<div class="banner">

</div>
<footer id="footer">

</footer>
</body>
</html>