@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: black;}
ul, li, ol{list-style: none;}

html,body{min-height:100vh; margin: 0;}

input:focus{outline: none;}
textarea:focus{outline: none;}
select:focus{outline: none;}

.sml{font-size : 14px;}
.gray{color:#888;}

.dmField{position: relative;}
.dmField_label{
color: #111;
display: inline-block;
position: absolute;
font-weight: 700;
background-color: #fff;
height: 3px;
top: -1px;
font-size: 18px;
left: 20px;
line-height: 0;
letter-spacing: -.2px;
z-index: 50;
padding-left: 8px;
padding-right: 8px;
}
.dmField_label.hide{
width: 0;
height: 0;
font-size: 0;
text-indent: -9999em;
}
.dmField_input_box{
display: flex;
width: 100%;
}
.dmField_input{
border: 1px solid #666;
padding: 20px 24px;
font-size: 18px;
height: 59px;
color: #666;
width: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.dmField_input:disabled,
.dmField_input:read-only{
background-color: #f2f2f2;
cursor: default;
}

.dmField_textarea{
border: 1px solid #666;
padding: 28px 24px;
font-size: 18px;
color: #666;
width: 100%;
line-height: 24px;
height: 500px;
overflow-x: hidden;
overflow-y: scroll;
letter-spacing: -.2px;
resize: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.dmField_textarea:after{
width: calc(100% - 20px);
height: 20px;
background-color: #fff;
content: " ";
display: block;
position: absolute;
top: 1px;
left: 1px;
}
.dmField_select{
border: 1px solid #666;
padding: 0 24px;
font-size: 18px;
height: 59px;
color: #999;
width: 100%;
background: url(/resources/img/selectbox-arrow.svg) no-repeat right 25px center / 14px auto;
appearance: none;
}

.cmBtn{
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-ms-flex-align: center;
align-items: center;
background-color: transparent;
letter-spacing: -.18px;
padding: 0 17px;
overflow: hidden;
font-weight: 400;
-ms-flex-pack: center;
justify-content: center;
margin: 0;
cursor: pointer;
}

.cmBtn.line{border: 1px solid #111;}
.cmBtn.black{border: 1px solid #111;background: #111;color: #fff;}
.cmBtn.white{border: 1px solid #fff;}
.cmBtn.yellow{border: 1px solid #fae100;background: #fae100;}

.cmBtn.fixedWidth{min-width: 160px;}
.cmBtn.fullWidth{width: 100%;}
.cmBtn.big{
min-width: 207px;
height: 67px;
line-height: 67px;
text-align: center;
box-shadow: 0 10px 10px 0 rgb(0 0 0 / 25%);
margin: auto 10px 40px;
font-size: 20px;
font-weight: 700;
}
.cmBtn.big2{
width: 300px;
height: 62px;
line-height: 62px;
text-align: center;
font-weight: 700;
font-size: 22px;
letter-spacing: -.22px;
}
.cmBtn.large{font-size: 22px;height: 62px;}
.cmBtn.mid{font-size: 18px;height: 52px;}
.cmBtn.sml{font-size: 12px;height: 30px;}

.ra8{border-radius: 8px;}

h2.title{margin: 0 0 30px;}

#header{width : 100%; height: 100px; overflow: hidden; padding: 0 30px; }
#header .inner{display:flex; flex-direction: row ;
justify-content: space-between;
height:inherit;align-items: center;}
#header .img_wrap{width: fit-content; height: inherit;}
#header .img_wrap img{display: inline-block; height: 60px; margin-top: 20px;}
#header .title_wrap{width : 1400px; height:74px; font-size: 30px; font-weight: bold; padding-left: 20px; line-height: 74px;}
#header .controller_wrap{width : 800px; height: 80px;}
#header .controller_wrap .log_out{width: inherit; height:30px; margin-bottom: 8px; color: black; display: flex; flex-direction: row; justify-content: right;}
#header .controller_wrap .log_out>.welcome{font-size: 18px; line-height: 30px;}
#header .controller_wrap .log_out>button{display:inline-block; font-size: 14px;height: 30px; background-color: #000;letter-spacing: -.18px; width:80px;  font-weight: 400; justify-content: center; margin: 0; border: none; color: #fae100; margin-left: 10px; font-weight: 600; cursor: pointer;}
#header .controller_wrap .search_box{display: flex; flex-direction: row; justify-content: space-between;height: 40px; padding: 0;}
#header .controller_wrap .search_box>.dmField_input_box{height: 40px;}
#header .controller_wrap .search_box>.dmField_input_box>input{width:90%; height: 36px; margin-right: 10px;}
#header .controller_wrap .search_box>.dmField_input_box>button{line-height: 44px; padding: 0 21px;font-weight: 600;}

#gnb{width : 200px; height:calc(100vh - 100px); float: left; padding-top: 20px; background-color: #000; color: #fae100;}
#menu>li>span{line-height: 40px; font-weight: bold; cursor: pointer; transition: 0.3s;}
#menu>li:hover span:nth-of-type(1){letter-spacing: 0.2em;}
#menu>li>span:nth-of-type(1){display:inline-block; width: 150px;text-indent: 1em;}
#menu>li>span.on{display: none;}
#menu>li.on>span.on{display:inline-flex;}
#menu>li.on>span.off{display: none;}
#menu>li>.sub_wrap{display: none; }
#menu>li>.sub_wrap.on{display: block; transition: 1s;}
#sub_menu>li{line-height: 40px; font-weight: normal; font-size: 14px; text-indent: 2em;}
#sub_menu>li>a{color: #fff;}


#main{width : calc(100% - 200px); min-height: calc(100vh - 100px); max-height: calc(100vh - 100px);float: left; overflow:scroll;}
#main .container{min-height: inherit; min-height: inherit; padding: 40px 60px;}
#main .container h3{margin-bottom: 20px;}
#write_form{width: inherit;}
#write_form>div{width: inherit; padding : 10px 0;}
#write_form .wrap{width: inherit;}
#write_form .wrap:nth-of-type(1)>.dmInput{display: inline-block;}
#write_form .wrap:nth-of-type(1) .dmInput:nth-of-type(1){width: 200px;}
#write_form .wrap:nth-of-type(1) .dmInput:nth-of-type(2){width: calc(100% - 210px);}



/* 공지 목록 스타일 */
table {width : 100%; border-collapse: collapse; border-spacing: 0px;}
td.title{width: 80%;}
/*tr:first-of-type {border-bottom : 2px solid black; line-height: 40px;  font-size: 16px;}*/
tr{ border-bottom : 0.5px solid gray; line-height: 40px;  font-size: 12px;}
td.center{text-align: center;}
.btn_wrap {width: fit-contentl; margin : 20px; text-align : right;}

.category_btn{ display : inline-block; padding : 15px 20px; border-radius : 0px; border : 0.5px solid #666;
	font-weight : bolder; line-height : 20px; background-color : #fcfcfc; margin : 5px 0; cursor: pointer;}
.category_btn.on{color : #fff; background-color : black;}


/*제품등록폼*/
#product_form{ width : 95%; height : fit-content; margin : 0 auto;}
#product_form .dmInput{display : inline-block; width : 100%; margin-top : 10px;}
#product_form .dmInput.name{width : calc(100% - 20.5%);}
#product_form .dmInput.w10 {width : 10%; }
#product_form .dmInput.w33 {width : 33.1%; }
#product_form .dmInput.mb30{margin : 10px 0 30px;}

#product_form .size_count_wrap{display : flex; flex-direction : row; justify-content: space-between; width : 100%; margin : 30px 0;}
#product_form .size_count_sub{width : 49.5%;}
