@charset "UTF-8";

.inner{width: 1140px; margin: 0 auto; padding: 40px 0;}
.title{display:inline-block; font-size: 44px; margin: 0 0 30px 0; font-weight: bold;}
table{border-collapse: collapse; border-spacing: 0px;}
.text_hiden{line-height: 0;font-size: 0;text-indent: -9999em;width: 0;height: 0;}
a.width_100{display: block; width: 100%;}


.banner_menu{width: 100%; height: 175px;}
.banner_menu>.inner{padding: 30px 0 0;}
.banner_menu .wrap{width: inherit; display: flex; flex-direction: row; justify-content: flex-start;flex-wrap: nowrap; overflow-x: scroll;}
.banner_menu .wrap::-webkit-scrollbar{height: 10px; background-color: transparent;}
.banner_menu .wrap::-webkit-scrollbar-thumb{border-radius: 12px; background-color: #444; }
.bm{min-width: 200px; height: 130px; margin-right: 16px;}
.bm:last-of-type{margin-right: 0;}
.bm img{display:inline-block; width: 100%; margin-bottom: 10px;}
.bm .txt{width:100%; font-size:18px; font-weight: bold; text-align: center;}

#visual1{position: relative; width: 100%; height: 560px;}
#visual1 .img_wrap{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);transition: 0.5s; opacity: 0;}
#visual1 .img_wrap a{display: block;width: 100%;height: 100%;}
#visual1 .img_wrap img{height: 100%;}
#visual1 .img_wrap.slide_on{opacity: 1;}

/* #visual1 .btn_wrap .inner{
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;padding: 0;
    position:absolute; left:50%; top:0; height: 560px; transform: translateX(-50%); z-index: 10;
} */
#visual1 .btn_wrap .prev, 
#visual1 .btn_wrap .next{position: absolute;top: 248px;}
#visual1 .btn_wrap .prev{left: 9.896vw;right: auto;}
#visual1 .btn_wrap .next{right: 9.896vw;left: auto;}

#visual1 .pgn_wrap{position: absolute; left: 50%; bottom:44px;transform: translateX(-50%);text-align: center;font-size: 0;z-index: 20;}
#visual1 .pgn_wrap .pgn{display: inline-block;width: 8px; height: 8px; transition: 0.3s; background-color: #fae100;margin-left: 8px;}
#visual1 .pgn_wrap .pgn:first_child{margin-left: 0;}
#visual1 .pgn_wrap .pgn.on{width: 32px;}

.prev, .next{width: 64px; height: 64px; text-align: center; background-color: #000; cursor: pointer; z-index : 99;}
.prev i, .next i{color: #fff; font-size: 50px; line-height: 60px;}

.sec1{width: 100%; height: 900px;margin: 100px auto 120px;}
.sec1 .inner{padding: 0;text-align: center;}

#category1{position:relative; width: 100%;text-align: center;}
#category1>li{width: 100%;font-size: 0;}
#category1>li.on{}
#category1 .category_detail{width: 100%;color: #000; background-color: #fff; overflow: hidden; display:none;}
#category1 .category_detail.on{display: block;}
#category1 .category_detail .slide_wrap{position: absolute;  top: 0; width: 100%; height: 500px; background-color: #fff; overflow:hidden;}
#category1 .category_detail .slide{position: absolute;  top: 0; width: 100%; height: 500px; background-color: #fff; transition: 0.4s;}
#category1 .category_detail .slide.eq1{left:0; z-index: 99;}
#category1 .category_detail .slide.eq2{left:100%; opacity: 0;}
#category1 .category_detail .slide.eq3{left:-100%; opacity: 0;}
#category1 .wrap{display: flex; flex-direction: row; justify-content: space-between;}

#category1 .item{width: 48%; text-align: left; overflow: hidden  ;}
#category1 .product_name{display: inline-block; width: 100%; margin-bottom: 10px; font-size: 30px;}
#category1 span{font-size: 20px; font-weight: 600;}
#category1 span.price{font-size: 24px;}
#category1 .item .imgw{width: 100%; height: 340px; margin:10px 0 20px; background-color: #e6e6e6;}
#category1 .item img{display: inline-block; width: 50%; background-color: #e6e6e6;}
#category1 .item img.wide_img{display: inline-block; height: 100%;margin: 0 auto; background-color: #e6e6e6;}
#category1 button{border: 1px solid black;height: 52px;padding: 0 17px; background-color: #fff;font-size: 18px;letter-spacing: -0.015em;}
#category1 .btn_wrap{position: absolute; left: 0; top: 530px; width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;}
#category1 .pgn_wrap{display: flex; flex-direction: row; justify-content: space-between; width: 90px; margin-top: 26px;}
#category1 .pgn{width: 12px; height: 12px; background-color: #000;}
#category1 .pgn.on{width: 42px;}


.banner{width: 100%;background-color: #fafafa;}
.banner .inner{padding: 80px 0;font-size: 0;}
.banner a{font-size: 30px;}
.banner .bnr_img{width: 100%;font-size: 0;}
.banner .bnr_img img{width: 100%;}
.banner .big{font-size: 60px;}
.banner .black_line{display:inline-block; height: 12px; background-color: #000;}
.black_line.short{width: 80px;margin-left: 12px;}
.black_line.long{width: 470px;}

.view_more{position:relative; padding: 12px 18px; border-radius: 0; border: 1px solid #000; background-color: #fff; font-size: 18px; transition: 0.5s; overflow: hidden;}
.view_more:hover{ color: #fff; background-color: #000;}


#visual2{overflow: hidden;}

.category_item{display:inline-block; position:relative; width: 49%; margin-bottom: 12px; color : #fff;overflow: hidden;}
.category_item:nth-of-type(2n-1){margin-right: 1.4%;}
.category_item .img_wrap{width: 100%; overflow: hidden;}
.cagegory_item .img_wrap>img{display: inline-block; width: 100%;}
.category_item .text{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); padding-top: 170px; text-align: center;font-size: 0;}
.view_more{background-color: transparent; border-color: #fff; color: #fff; cursor: pointer; transition: 0.3s;}
.category_item .text .view_more:hover{background-color: #fff; color: #000;}


.membership .inner{margin: 230px auto 210px;padding: 0;text-align: center;}
.membership .harf{display: inline-block; width: 49%; text-align: left   ;}
.membership .harf:first-of-type{margin-right: 1.4%;}
.membership .harf>img{width: 100%;}
.membership .harf .text_wrap{padding: 0 20px;}
.membership .harf strong{display:inline-block; width:100%; margin: 17px 0 0; font-size: 18px;font-weight: 700;line-height: 1.3;}
.membership .harf .gray{display: block;margin: 17px 0 20px;font-size: 16px;color: #888;line-height: 1.2;letter-spacing: -0.01em;}
.membership .harf .view_more{margin: 10px 0;}


span.won_font {font-family : 'Nanum Gothic', sans-serif;}
button {cursor: pointer;}

/*공지사항*/
#main {width : 100%; min-height : 1100px; margin : 0 0 60px 0;}
#main .wrap.qna{width : 1140px; display : flex; flex-direction: row; justify-content: space-between; margin : 0 auto;}
#main .left_menu{width : 292px;}
#main .left_menu strong{display : inline-block; font-size : 30px; font-weight : bold; padding-bottom : 16px; font-family: 'Dosis', sans-serif;}
#main .left_menu>span{display : inline-block; font-size : 20px; padding-bottom : 20px; color : #666;}
#left_menu{width : 100%;}
#left_menu li{display:inline-block; width : 100%; height: 27px; font-size : 20px; opacity : 0.5; margin : 8px 0;}
#left_menu li.on{font-weight: bold;  opacity : 1;}
#left_menu li img{display:inline-block; height: 100%; transform: translateY(7px); margin-right: 10px;}
#left_menu li span{border-bottom : 4px solid #000;}

#main .inner {width : 848px; padding : 10px 0 40px;}
#main .inner.auto{height : fit-contents; padding : 10px 0 60px;}
#main .inner.qna h1{font-size : 36px; font-weight: bold; padding-bottom : 20px;}
#main .search_wrap{width : 100%; line-height : 62px;  border : 1px solid #c4c4c4; padding: 0 30px; margin-bottom:10px;}
#search{width : calc(100% - 40px); line-height : 60px; border: none; font-size:22px;}
#search:focus {outline : none;}
#search_btn{line-height: 60px; border: none; background-color: #fff; font-size : 22px;}

.category_btn{ display : inline-block; padding : 15px 20px; border-radius : 0px; border : 0.5px solid #666;
	font-weight : bolder; line-height : 20px; background-color : #fcfcfc; margin : 5px 0; cursor: pointer;}
.category_btn.on{color : #fff; background-color : black;}

#qna {width : 100%; border-collapse: collapse; border-spacing: 0px; font-size : 16px; margin-top:18px;}
#qna td.title{width: 80%;}
/*tr:first-of-type {border-bottom : 2px solid black; line-height: 40px;  font-size: 16px;}*/
#qna tr{ border-bottom : 0.5px solid #e6e6e6; line-height: 45px; height: 45px;}
#qna tr:first-of-type{border-bottom : 2px solid black; height: 40px;}
#qna th{font-size : 16px; font-weight: bold; height : 30px; line-height : 30px;}
#qna th.category_tb{width : 180px;}
#qna td{padding-left : 10px;}
#qna td.center{text-align: center;}
#qna .btn_wrap {width: fit-contentl; margin : 20px; text-align : right;}
#qna .getdetail{cursor: pointer; }
#qna .getdetail.on{border-bottom:none;}
#qna .detail{ display : none; background-color : #eee; font-size : 14px; line-height : 28px;}
#qna .detail.on{display: table-row;}
#qna .detail>td{padding : 30px;}

.qna .pgn_wrap{margin : 60px auto; text-align: center;}
.qna .pgn{display:inline-block; width : 34px; line-height:34px; border : 2px solid black; font-weight: bolder;
text-align: center; font-size : 20px; margin : 0 5px;}
.qna .pgn_on{background-color: black; color : #fff;}

/*공지사항*/
#notice, #notice_detail {width : 100%; border-collapse: collapse; border-spacing: 0px; font-size : 16px;}
#notice td.title_tb{width: 80%;}

#notice tr{ border-bottom : 0.5px solid #e6e6e6; line-height: 45px; height: 45px;}
#notice tr:first-of-type{font-weight : bold; border-bottom : 2px solid black;}
#notice td.center, #notice_detail td.center{text-align: center;}
#main .btn_wrap {width: 100%; margin : 60px 0 0 0; text-align : right;}


#notice_detail td.title_tb{width: 80%; height: 50px;  font-size : 18px; font-weight : bold; line-height: 50px;}
#notice_detail tr:last-of-type{ border-bottom : 0.5px solid #e6e6e6; line-height: 40px;}
#notice_detail tr:first-of-type {border-top : 2px solid black; border-bottom : 0.5px solid #e6e6e6; line-height: 30px;}
#notice_detail tr:nth-of-type(2) {height :40px; line-height :40px; opacity : 0.6;}



#main.loginForm {width : 100%;}
#main.loginForm .welcome {width : 100%; text-align : center;  margin-bottom : 20px;}
#main.loginForm .wrap{width : 100%; display: flex; flex-direction : row; justify-content : space-between;}
#main.loginForm .login_wrap {width : 45%; padding : 14px 0; text-align : center;}
#main.loginForm .login_wrap span{display : inline-block; font-size : 20px; margin : 6px  auto 40px; font-weight: bold;}

#main.loginForm .findIDPW{display : inline-block; height : 22px; font-size : 16px; font-weight : bold; padding-bottom : 2px; border-bottom : 2px solid #000; margin-bottom : 20px;}