@charset "UTF-8";

*{box-sizing :  border-box;}
.inner { width :  1140px; margin : 0 auto; padding : 30px 0;}
.wrap {width : inherit; display : flex; flex-direction: row; justify-content: space-between;}



ul {
    font-weight: 540;
    list-style-type: none;
}

li {
    cursor: pointer;
    color: black;
    margin: 20px 0px;
    list-style-type: none;
}

li:hover {
    text-decoration: none;
}

.closeList {
    display: none;
}

.openList {
    display: block;
}

.cate {
    color: black;
    text-decoration-line: none;
    font-weight: 200;
}

.rowV {
    position: relative;
    left: -15%;
    top: 10.2px;
    float: right;
    width: 7.5%;
}

#goCart {
    background-color: transparent;
}

 #ser {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

#ser_input {
    position: relative;
    left: 15%;
    top: 25%;
    background-color: black;
    color: white;
    text-align: left;
    width: 65%;
    height: 45px;
    border: rgba(0, 0, 0, 0);
    background-color: transparent;
}

#ser_input::placeholder {
    color: white;
}

#ser_input:focus {
    outline: none;
}

#ser_icon {
    background-color: rgba(0, 0, 0, 0);
    float: right;
    position: relative;
    left: -20%;
    top: 25%;
    width: 20px;
    height: 20px;
}

#ser_img {
    cursor: pointer;
    width: 1300%;
    height: 350%;
}

.left_menu {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 25%;
    overflow: auto;
    height: 400px;
    line-height : 250%;
}

#right_list {
    display: inline-block;
    position: absolute;
    left: 40%;
     top: 25%;
    height: 120%;
    width: 60%;
    overflow: auto;

    text-transform: uppercase;
}

.test_mode {
    position: absolute;
    top: 150%;
    left: 40%;
    height: 100%;
    width: 65%;
}
.product_name{
	 display: inline-block;
}

#list {
    display: inline-block;
    width: 45%;
    cursor: pointer;
}

#list > img {
    width: 70%;
}

.priceRight {
    position: relative;
    float: right;
    width: 50%;
}

/*-------------------ListView.jsp----------------------*/
#searchRes {
    position: relative;
    left: 12%;
    height: 100%;
    width: 100%;
    overflow: auto;

    text-transform: uppercase;
}

#productList {
    display: inline-block;
    position: absolute;
    left: 12%;
    height: 100%;
    width: 75%;
    overflow: auto;

    text-transform: uppercase;
}

/*-------------------detail.jsp----------------------*/
.inline {
    display: inline-block;
}

#main .half {width : 48%;}
.half.pd30{padding: 30px;}
#main .cmBtn.mid{width : 48%;}
#main .price{margin : 10px 0;}
#main .product_detail { padding : 30px 0; }
.topleft {
    background-color: #F7F7F7;
    text-align: center;
    margin-bottom: 1px;
    width: 100%;
   display : inline-block;
}
.topleft>img {display:inline-block; width: 30px;}

.sizefix {
    position: relative;
    bottom: -10px;
    width: 30px;
    height: 40px;
    
}

.rightInfo {
	width : 100%; height : 700px; overflow-y:scroll;
	-ms-overflow-style: none;
}
.rightInfo img.detail_img {
	display : inline-block;
	width : 100%;
	margin : 0 auto;
	margin-bottom : 10px;
}
.rightInfo::-webkit-scrollbar {
    display: none;
}

.underline {
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin : 8px 0;
}

.haveSize {
    border: 1px solid #e6e6e6;
    background-color: white;
    width: 30%;
    padding: 5px 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
}

.haveSize:focus {
    background-color: black;
    color: white;

}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
input[class="count"]::-webkit-outer-spin-button,
input[class="count"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.count{
	width: 23%;
	text-align: right;
}
.temp1{
	width: 200px;
	height: 40px;
}
.price{
	position: relative;
	left: 29.5%;
}