@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body{width: 100%;}

main{position: relative;width: 1140px;margin: auto;padding: 60px 0 125px;overflow: hidden;}



/* board */
#board{float: right;width: 840px;margin-top: -1px;padding-bottom: 144px;}

#board h3{line-height: 36px;font-weight: 700;color: #111;font-size: 36px;padding-bottom: 38px;letter-spacing: -.5px;-webkit-transform: translateY(-1px);transform: translateY(-1px);}

#board.notice{}
#board.qna{}


#board .search_wrap{padding-bottom: 30px;position: relative;}
#board .search_wrap input[type="text"]{    width: 100%;
    border: 1px solid #ddd;
    height: 62px;
    padding: 0 77px 0 30px;
    font-size: 20px;
    color: #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
#board .search_wrap #search_btn{
    position: absolute;
    top: 1px;
    right: 17px;
    padding: 0;
    background: url(../dr/img/btn_searchbox_search.jpg) no-repeat;
    width: 60px;
    height: 60px;
    cursor:pointer;
    }
    
#board .cate_btn_wrap{overflow: hidden;}
#board .cate_btn_wrap .category_btn{    border: 1px solid #111;
    height: 52px;
    padding: 0 30.6px;
    color: #111;
    font-size: 18px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    letter-spacing: -.5px;
    margin-top: 10px;}
#board .cate_btn_wrap .category_btn.on{    background-color: #111;
    color: #fff;
    font-weight: 700;}

#board.list{}
#board.list table{width: 100%;margin-top: 11px;}
#board.list table tr{}
#board.list table th{border-bottom: 2px solid #111;
    text-align: center;
    height: 42px;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;}
#board.list table td{border-bottom: 1px solid #ddd;
    height: 57px;
    font-size: 16px;
    vertical-align: middle;
    color: #666;
    text-align: center;}
#board.list table td.tit{padding-left: 32px;
    color: #111;text-align: left;}
#board.list table td.tit a{}
#board.list table td.tit a span{padding-right: 3px;}
#board.list table td.tit a img{padding-left: 3px;}


#board.qna.list table{margin-top: 27px;}
#board.qna.list .getdetail{cursor: pointer; }
#board.qna.list .getdetail.on{border-bottom:none;}
#board.qna.list .detail{
display : none; 
background-color : #eee; font-size : 12px; line-height : 28px;}
#board.qna.list .detail.on{display: table-row;}
#board.qna.list .detail>td{padding : 30px;}




#board.detail{}
#board.detail table{width: 100%;border-top: 2px solid #111;padding-top: 6px;border-bottom: 1px solid #ddd;}
#board.detail table *{width: 100%;}
#board.detail table thead th{height: 55px;
    font-size: 16px;
    color: #999;
    vertical-align: middle;}
#board.detail table thead tr:first-child th:first-child {
    font-size: 18px;
    color: #111;
    font-weight: 700;
}

#board.detail table thead tr:first-child{border-bottom: 1px solid #ddd;}

#board.detail table thead th:first-child{
	text-align: left;
    padding-left: 32px;
}

#board.detail table .bar{margin: 0 10px;
display: inline-block;
    width: 1px;
    background-color: #e5e5e5;
    height: 18px;
    vertical-align: top;
}

#board.detail table tbody td{
    padding-top: 6px;
    height: 150px;
    padding-bottom: 55px;
}
    
#board.detail table tbody td .view_cont{-ms-word-break: keep-all;
word-break: keep-all;}
    
#board.detail table tbody td .view_cont p{font-size: 18px;
    color: #666;
    line-height: 26px;}
    
#board.detail .view_btm{position: relative;
    margin-top: 20px;}

/* button */
.btn_box{}

.btn_left{float: left;}
.btn_right{float: right;}

.btn{display: inline-block;font-size: 16px;height: 41px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box
;box-sizing: border-box;
padding: 6px 10px;

    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    letter-spacing: -.18px;
    padding: 0 17px;
    overflow: hidden;
    font-weight: 400;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    
}
.type01{border: 1px solid #111;}
.type02{border: 1px solid #111;background: #111;color: #fff;}


