@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* header */
#header{position: fixed;top: 0;z-index: 100;width: 100%;-webkit-box-shadow: 0 3px 7px 0 rgb(0 0 0 / 10%);-moz-box-shadow: 0 3px 7px 0 rgb(0 0 0 / 10%);box-shadow: 0 3px 7px 0 rgb(0 0 0 / 10%);}
#header .hd_inner{position: relative;width: 1140px;margin: 0 auto;}

/* 상단 배너 */
#header .top_bnr{width: 100%;height: 35px;background: #111;text-align: center;font-size: 0;}
#header .top_bnr .top_bnr_svg{display: inline-block;margin: 8px 10px 0 0;}
#header .top_bnr p{display: inline-block;color: #fff;font-size: 14px;line-height: 35px;vertical-align: top;letter-spacing: -0.015em;}

/* 상단 유틸메뉴 */
#header .hd_top{width: 100%;height: 40px;background: #fafafa;}
#header .util_menu{height: 100%;}
#header .util_menu_box{display: -ms-flexbox;display: flex;-ms-flex-pack: end;justify-content: flex-end;line-height: 40px;}
#header .util_item{margin-left: 20px;}
#header .util_item a{font-size: 13px;font-weight: 300;line-height: 40px;vertical-align: top;}

/* 상단 메뉴 */
#header .hd_content{width: 100%;height: 85px;background: #fff;}
#header .hd_content_box{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-align: center;align-items: center;height: 100%;}

/********** 상단 메뉴 : logo */
#header .logo{position: absolute;left: 84px;bottom: 13px;width: 167px;height: 95px;}
#header .logo a{display: block;width: 100%;}
#header .logo a img{width: 100%;}

/********** 상단 메뉴 : Hamburger */
#header .category_menu{margin: 0 350px 0 -10px;cursor: pointer;}
#header .HamburgerButton{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    align-items: center;
    width: 47px;
    height: 45px;
    padding: 10px;}
#header .category_btn_line{    
	display: block;
    width: 27px;
    height: 3px;
    background-color: #111;}
#header .category_btn_line:after, 
#header .category_btn_line:before{
	position: absolute;
    content: "";
    display: block;
    width: 27px;
    height: 3px;
    background-color: #111;}
#header .category_btn_line:after{bottom: 10px;}
#header .category_btn_line:before{top: 10px;}

/********** 상단 메뉴 : 검색 */
.main_search_form{position: relative;margin-right: 32px;}
.main_search_form .SearchForm{display: block;}
.main_search_form .SearchForm fieldset{display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;}
.main_search_form .mainSearchForm_wrapper{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-align: center; align-items: center;width: 490px;}
.main_search_form .mainSearchForm_input_box{position: relative;width: 100%;-ms-flex: 1 1 auto;flex: 1 1 auto;margin-right: 16px;}
.main_search_form .mainSearchForm_input{width: calc(100% - 50px);font-size: 20px;}
.main_search_form .mainSearchForm_input::placeholder{color: #aaa;letter-spacing: -0.015em;}
.main_search_form .mainSearchForm_button{position: relative;display: block;width: auto;height: auto;padding: 0;font-size: 0;cursor: pointer;}
.main_search_form .mainSearchForm_cancel{position: absolute;top: 0;right: 16px;bottom: 0;margin: auto;cursor: pointer;}
.main_search_form .mainSearchForm_button_icon{width: 32px;height: 32px;}

/********** 상단 메뉴 : 아이콘 */
#header .hd_content .hdBtn{margin-left: 32px;font-size: 0;}

/********** 상단 메뉴 : navigation */
#nav{display: none;position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 100%;background: #fff;overflow: hidden;}
#nav .gnb_top{position: relative;width: 1140px;margin: 0 auto;}
#nav .gnbTop_item{}
#nav .gnb_cart{}
#nav .gnb_close{cursor: pointer;}

#gnb{}




/****************************************************/

/* 페이지 영역 */
#container{position: relative;margin-top: 160px !important;overflow: hidden;}
#content{}

.main_inner{width: 1140px;margin: 0 auto;}

.new_join_wrap{height: 161px;background: #191919;border-bottom: 1px solid #333;}
.new_join_left{float: left;padding-top: 47px;}
.new_join_tit{letter-spacing: -.01em;margin-bottom: 13px;}
.new_join_txt{letter-spacing: -.01em;}
.new_join_right{float: right;margin-top: 47px;}
.new_join_right a{width: 164px;height: 60px;line-height: 60px;letter-spacing: -.01em;}

/* 페이지 영역 - sub */
#subHead{width: 1140px;margin: 0 auto;padding: 0 8px 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#subHead .subHead_back{padding: 40px 20px;}
#subHead .subHead_btn{position: relative;display: block;cursor: pointer;width: 34px;height: 22px;margin: 0;padding: 0;}
#subHead .subHead_btn_icon{position: absolute;top: 0;left: 0;-webkit-filter: drop-shadow(0 0 3px hsla(0,0%,100%,.7));filter: drop-shadow(0 0 3px rgba(255,255,255,.7));-webkit-transform: translate(0);transform: translate(0);}
#subHead .subHead_title{font-size: 36px;font-weight: 700;letter-spacing: -.36px;color: #000;padding-top: 37px;}



/****************************************************/

/* 하단 영역 */
#footer{width: 100%;min-width: 1140px;background: #191919;color: #fff;}
#footer .ft_inner{position: relative;width: 1140px;margin: 0 auto;height: auto;}

#footer .gotoTop{
	position: fixed;
    top: auto;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(/resources/img/floating_top.png) no-repeat;
    background-size: 100% auto;
    box-shadow: 3px 4px 13px 0px rgb(0 0 0 / 18%);
    border-radius: 8px;
    cursor: pointer;
}

#footer .ft_top{display: -ms-flexbox;display: flex;padding-top: 30px;-ms-flex-direction: row;flex-direction: row;}

#footer .ft_left{display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex: 1 1 auto;flex: 1 1 auto;}
#footer .ft_right{float: right;text-align: right;margin-left: 40px;}
#footer .ft_top_tit{font-size: 16px;font-weight: 700;padding-bottom: 14px;color: #fff;}
#footer .ft_top_info_row{display: -ms-inline-flexbox;display: inline-flex;font-size: 14px;line-height: 22px;}
#footer .ft_top_info_column{position: relative;color: #999;padding-left: 18px}
#footer .ft_top_info_column:before{content: '';position: absolute;top: 50%;left: 0;width: 1px;height: 13px;background: #999;margin: -6px 9px 0;}
#footer .ft_top_info_column:first-child{padding: 0;}
#footer .ft_top_info_column:first-child:before{content: '';padding: 0;width: 0;height: 0;}
#footer .ft_top_info_column strong{color: #fff;}

#footer .ft_tit{display: inline-block;font-size: 16px;margin-bottom: 10px;padding-bottom: 4px;font-weight: 500;color: #fff;border-bottom: 1px solid #fff;}
#footer .ft_top_menu{}
#footer .ft_top_menu li{font-weight: 400;font-size: 14px;line-height: 26px;}
#footer .ft_top_menu li a{color: #fff;}


#footer .ft_btm{display: -ms-flexbox;display: flex;width: 100%;
margin-top: 10px;-ms-flex-align: center;align-items: center;border-top: 1px solid #333;}
#footer .ft_nav{-ms-flex: 1 1 auto;flex: 1 1 auto;color: #fff;}
#footer .ft_btm_list{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;}
#footer .ft_btm_list_item{}
#footer .ft_btm_list_item a{font-size: 16px;font-weight: 500;margin-right: 22px;color: #fff;}
#footer .sns_box{display: -ms-flexbox;display: flex;margin: 17px 0;}
#footer .sns_box a{display: block;width: 40px;height: 40px;border: 1px solid #fff;border-radius: 20px;margin-left: 20px;color: #fff;text-align: center;line-height: 40px;}
#footer .sns_box a i{font-size: 20px;color: #fff;}



/* 에러페이지 */
#ErrorMain{width: 100%;padding: 100px 0 120px;}
.err_box{width: 800px;margin: 0 auto;padding: 80px 50px 45px;border-radius: 30px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: #fae100;}
.err_box h3{margin-bottom: 40px;}
.err_box h3 span{display: block;font-size: 32px;font-weight: 300;line-height: 1;letter-spacing: 9px;color: #333;text-indent: 12px;}
.err_box h3 strong{display: block;font-size: 81px;font-weight: 700;line-height: 1;}
.err_box > p{font-size: 22px;line-height: 1.5;letter-spacing: -0.01em;}
.err_detail{width: 290px;background: #DECD37;margin: 20px auto 60px;text-align: left;padding: 20px;border-radius: 10px;}
.err_detail p{font-size: 16px;line-height: 1.4;letter-spacing: -0.01em;text-transform: uppercase;}

.wonder_balsam {display : inline-block; font-size : 26px; color : #000; margin-bottom : 20px;}







