@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body{min-width: 1140px;
/*overflow-x: hidden;*/
}

/* 가이드 페이지 기본 css */
#Guide{width: 100%;}
.top_tit{width: 100%;height: 155px;padding: 30px 50px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px 0px;-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px 0px;box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px 0px;}
.top_tit .logo{width: 167px;height: 95px;}
.top_tit strong{display: inline-block;line-height: 95px;vertical-align: top;margin-left: 50px;}

.gui_box{}
.gui_title{display: inline-block;background: #fae100;margin-bottom: 25px;}


/* 투명도 */
.op85{opacity: .85;}
.op45{opacity: .45;}
.op15{opacity: .15;}

/* 정렬 */
.dib{display: inline-block;}
.db{display: block;}


/*******************
		폰트 
*******************/

/* 폰트 - 크기 */
.fz12{font-size: 12px !important;}
.fz16{font-size: 16px !important;}
.fz18{font-size: 18px !important;}
.fz20{font-size: 20px !important;}
.fz26{font-size: 26px !important;}
.fz30{font-size: 30px !important;}
.fz36{font-size: 36px !important;}

/* 폰트 - 굵기 */
.fw100{font-weight: 100 !important;}
.fw300{font-weight: 300 !important;}
.fw400{font-weight: 400 !important;}
.fw500{font-weight: 500 !important;}
.fw700{font-weight: 700 !important;}
.fw900{font-weight: 900 !important;}

/* 폰트 - 색상 */
.cfff{color: #fff !important;}
.c111{color: #111 !important;}
.c666{color: #666 !important;}

/* 폰트 - 밑줄 */
.bold_line{position: relative;display: inline-block;}
.bold_line:after{content: '';position: absolute;bottom: -10px;left: 0;display: inline-block;width: 100%;height: 2px;background: #111;}
.slim_line{position: relative;display: inline-block;}
.slim_line:after{content: '';position: absolute;bottom: -7px;left: 0;display: inline-block;width: 100%;height: 1px;background: #111;}



/*******************
		버튼 
*******************/
.btn_wrap{position: relative;font-size: 0;}
.btn_wrap .btn_box{display: inline-block;margin-right: 8px;}
.btn_wrap .btn_box:last-child{margin-right: 0;}

/* 가이드용 박스 */
.btn_test{width: 500px;}

.cmBtn{
	display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    letter-spacing: -.18px;
    padding: 0 17px;
    overflow: hidden;
    font-weight: 400;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
	cursor: pointer; 
}

.cmBtn.line{border: 1px solid #111;}
.cmBtn.black{border: 1px solid #111;background: #111;color: #fff;}
.cmBtn.white{border: 1px solid #fff;}
.cmBtn.yellow{border: 1px solid #fae100;background: #fae100;}

.cmBtn.fixedWidth{min-width: 160px;}
.cmBtn.fullWidth{width: 100%;}
.cmBtn.big{
    min-width: 207px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 25%);
    margin: auto 10px 40px;
    font-size: 20px;
    font-weight: 700;
}
.cmBtn.big2{
    width: 300px;
    height: 62px;
    line-height: 62px;
    text-align: center;
	font-weight: 700;
    font-size: 22px;
    letter-spacing: -.22px;
}
.cmBtn.large{font-size: 22px;height: 62px;}
.cmBtn.mid{font-size: 18px;height: 52px;}
.cmBtn.sml{font-size: 16px;height: 41px;}

.cmBtn.hover,
.cmBtn.hover::after {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.cmBtn.hover {
	background: none;
	color: #111;
	position: relative;
}
.cmBtn.hover::after {
	background: #111;
	content: '';
	position: absolute;
	z-index: -1;
	height: 100%;
	left: 0;
	top: 0;
	width: 0;
}
.cmBtn.hover:hover {color: #fff;}
.cmBtn.hover:hover i {color: #fff;}
.cmBtn.hover:hover:after {width: 100%;}
.cmBtn.hover.white::after{background: #fff;}
.cmBtn.hover i{z-index: 10;transition: all .5s;}

.link{
	height: 0;
	border-bottom: 2px solid #111;
	padding: 0 0 3px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
}

.cmbtn_icon{display: inline-block;margin-left: 11px;}



/*******************
		 폼 
*******************/
.input_test{width: 436px;}
.dmField{position: relative;}
.dmInput{}
.dmField_label{
	color: #111;
    display: inline-block;
    position: absolute;
    font-weight: 700;
    background-color: #fff;
    height: 3px;
    top: -1px;
    font-size: 18px;
    left: 20px;
    line-height: 0;
    letter-spacing: -.2px;
    z-index: 50;
    padding-left: 8px;
    padding-right: 8px;
}
.dmField_label.hide{
	width: 0;
	height: 0;
	font-size: 0;
	text-indent: -9999em;
}
.dmField_input_box{
	display: flex;
    width: 100%;
}
.dmField_input{
	border: 1px solid #666;
    padding: 20px 24px;
    font-size: 18px;
    height: 59px;
    color: #666;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dmField_input:disabled, 
.dmField_input:read-only{
	background-color: #f2f2f2;
    cursor: default;
}

.dmField_textarea{
	border: 1px solid #666;
    padding: 28px 24px;
    font-size: 18px;
    color: #666;
    width: 100%;
    line-height: 24px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    letter-spacing: -.2px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dmField_textarea:after{
	width: calc(100% - 20px);
    height: 20px;
    background-color: #fff;
    content: " ";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
}
.dmField_select{
	border: 1px solid #666;
    padding: 0 24px;
    font-size: 18px;
    height: 59px;
    color: #999;
    width: 100%;
    background: url(/resources/img/selectbox-arrow.svg) no-repeat right 25px center / 14px auto;
    appearance: none;
}





/*******************
	   체크박스 
*******************/

.check_wrap{}
.ck_box{}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {line-height: 22px;font-size: 18px;letter-spacing: -.18px;color: #666;padding-left: 10px;cursor: pointer;}
input[type="checkbox"] + label span {
	display:inline-block;
    width:20px;
    height:20px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(/resources/img/blank_check_box.png) no-repeat center center / 19px 19px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(/resources/img/check_box.png) no-repeat center center / 19px 19px;
}


.radio_wrap{}
.ra_box{margin-left: -2px;}
input[type="radio"] {display:none;}
input[type="radio"] + label {line-height: 18px;font-size: 18px;letter-spacing: -.18px;color: #666;padding-left: 10px;}
input[type="radio"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(/resources/img/radio_button.png) no-repeat center center / 23px 23px;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(/resources/img/radio.png) no-repeat center center / 23px 23px;
}














