<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>닥터마틴</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/resources/css/main.css">
    <script src="/resources/js/main.js"></script>
</head>
<body>
<header id="header">
    <div class="inner">
        <div class="toggle">
            <div class="toggle_line"></div>
            <div class="toggle_line"></div>
            <div class="toggle_line"></div>
        </div>
        <a href="#" class="logo"><img src="/resources/img/main/logo.svg" alt=""></a>
        <div class="header_menu">
            <div class="text_menu">
                <a href="">로그인</a>
                <a href="">회원가입</a>
                <a href="">매장찾기</a>
                <a href="">브랜드헤리티지</a>
                <a href="">고객센터</a>
            </div>
            <div class="sub_menu">
                <form action="" class="search_box">
                    <input type="text" placeholder="검색어를 입력해 주세요." class="search_input">
                    <button type="submit" class="search_btn">돋보깅</button>
                </form>
                <div class="icon_menu">
                    <div class="icons"></div>
                    <div class="icons"></div>
                    <div class="icons"></div>
                    <div class="icons"></div>
                    <div class="icons"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="banner_menu">
    <div class="inner">
        <div class="wrap">
            <div class="bm">
                <img src="/resources/img/main/bm1.png" alt="">
                <div class="txt">신규가입 10%쿠폰</div>
            </div>
            <div class="bm">
                <img src="/resources/img/main/bm2.jpg" alt="">
                <div class="txt">BEST 슈즈</div>
            </div>
            <div class="bm">
                <img src="/resources/img/main/bm3.jpg" alt="">
                <div class="txt">온라인 단독상품</div>
            </div>
            <div class="bm">
                <img src="/resources/img/main/bm4.jpg" alt="">
                <div class="txt">콜라보레이션</div>
            </div>
            <div class="bm">
                <img src="/resources/img/main/bm5.jpg" alt="">
                <div class="txt">Made In England</div>
            </div>
            <div class="bm">
                <img src="/resources/img/main/bm6.jpg" alt="">
                <div class="txt">카카오 간편가입 이벤트</div>
            </div>
            <div class="bm">
                <img src="/resources/img/main/bm7.jpg" alt="">
                <div class="txt">마일리지 정책 변경</div>
            </div>
        </div>
    </div>
</div>
<div id="visual1">
    <div class="wrap">
        <div class="img_wrap slide1 slide_on">
            <img src="/resources/img/main/sl1.jpg" alt="">
        </div>
        <div class="img_wrap slide2">
            <img src="/resources/img/main/sl2.jpg" alt="">
        </div>
        <div class="img_wrap slide3">
            <img src="/resources/img/main/sl3.jpg" alt="">
        </div>
    </div>
    <div class="btn_wrap">
        <div class="inner">
            <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
    </div>
    <div class="pgn_wrap">
        <div class="pgn on"></div>
        <div class="pgn"></div>
        <div class="pgn"></div>
    </div>
</div>
<div class="item_con sec1" id="sec1">
    <div class="inner">
        <h3 class="title">MD 추천</h3>
        <ul id="category1">
            <li class="on">샌들 10%
                <div class="category_detail on">
                    <div class="slide_wrap">
                        <div class="slide eq1">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">그리폰</strong>
                                        <span><i class="fa-regular fa-heart"></i> 2922</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_1-1-1.png" alt="">
                                        <img src="/resources/img/main/md_1-1-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 190,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">마일즈</strong>
                                        <span><i class="fa-regular fa-heart"></i> 4333</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_1-1-3.png" alt="">
                                        <img src="/resources/img/main/md_1-1-4.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq2">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">나틸라</strong>
                                        <span><i class="fa-regular fa-heart"></i> 3257</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_1-2-1.png" alt="">
                                        <img src="/resources/img/main/md_1-2-2.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">리키3-스트랩</strong>
                                        <span><i class="fa-regular fa-heart"></i> 189</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_1-2-3.jpg" alt="">
                                        <img src="/resources/img/main/md_1-2-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 190,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq3">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">나틸라</strong>
                                        <span><i class="fa-regular fa-heart"></i> 212</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_1-3-1.jpg" alt="">
                                        <img src="/resources/img/main/md_1-3-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">마일즈 DB</strong>
                                        <span><i class="fa-regular fa-heart"></i> 448</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_1-3-3.jpg" alt="">
                                        <img src="/resources/img/main/md_1-3-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="pgn_wrap">
                            <div class="pgn on"></div>
                            <div class="pgn"></div>
                            <div class="pgn"></div>
                        </div>
                        <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
            </li>
            <li>베스트슈즈
                <div class="category_detail">
                    <div class="slide_wrap">
                        <div class="slide eq1">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">1461 모노</strong>
                                        <span><i class="fa-regular fa-heart"></i> 2922</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_2-1-1.png" alt="">
                                        <img src="/resources/img/main/md_2-1-2.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 190,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">에봇</strong>
                                        <span><i class="fa-regular fa-heart"></i> 1517</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_2-1-3.png" alt="">
                                        <img src="/resources/img/main/md_2-1-4.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 190,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq2">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">1461 쿼드</strong>
                                        <span><i class="fa-regular fa-heart"></i> 1623</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_2-2-1.jpg" alt="">
                                        <img src="/resources/img/main/md_2-2-2.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 230,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">1461 스무스</strong>
                                        <span><i class="fa-regular fa-heart"></i> 5849</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_2-2-3.png" alt="">
                                        <img src="/resources/img/main/md_2-2-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 190,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq3">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">단테</strong>
                                        <span><i class="fa-regular fa-heart"></i> 142</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_2-3-1.jpg" alt="">
                                        <img src="/resources/img/main/md_2-3-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 120,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">리더</strong>
                                        <span><i class="fa-regular fa-heart"></i> 176</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_2-3-3.jpg" alt="">
                                        <img src="/resources/img/main/md_2-3-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 140,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="pgn_wrap">
                            <div class="pgn on"></div>
                            <div class="pgn"></div>
                            <div class="pgn"></div>
                        </div>
                        <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
            </li>
            <li>온라인 단독
                <div class="category_detail">
                    <div class="slide_wrap">
                        <div class="slide eq1">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">피어슨</strong>
                                        <span><i class="fa-regular fa-heart"></i> 2922</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_3-1-1.jpg" alt="">
                                        <img src="/resources/img/main/md_3-1-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 140,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">포스터</strong>
                                        <span><i class="fa-regular fa-heart"></i> 534</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_3-1-3.jpg" alt="">
                                        <img src="/resources/img/main/md_3-1-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 120,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq2">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">애브리</strong>
                                        <span><i class="fa-regular fa-heart"></i> 321</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_3-2-1.jpg" alt="">
                                        <img src="/resources/img/main/md_3-2-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">애브리</strong>
                                        <span><i class="fa-regular fa-heart"></i> 103</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_3-2-3.jpg" alt="">
                                        <img src="/resources/img/main/md_3-2-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq3">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">블레어 페이턴트</strong>
                                        <span><i class="fa-regular fa-heart"></i> 91</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_3-3-1.jpg" alt="">
                                        <img src="/resources/img/main/md_3-3-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">블레어 비건</strong>
                                        <span><i class="fa-regular fa-heart"></i> 167</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_3-3-3.jpg" alt="">
                                        <img src="/resources/img/main/md_3-3-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 150,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="pgn_wrap">
                            <div class="pgn on"></div>
                            <div class="pgn"></div>
                            <div class="pgn"></div>
                        </div>
                        <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
            </li>
            <li>친환경 비건
                <div class="category_detail">
                    <div class="slide_wrap">
                        <div class="slide eq1">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">블레어 비건</strong>
                                        <span><i class="fa-regular fa-heart"></i> 167</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_4-1-1.jpg" alt="">
                                        <img src="/resources/img/main/md_4-1-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 150,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">1461 비건</strong>
                                        <span><i class="fa-regular fa-heart"></i> 534</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_4-1-3.png" alt="" class="wide_img">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 170,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq2">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">2967 비건</strong>
                                        <span><i class="fa-regular fa-heart"></i> 681</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_4-2-1.png" alt="" class="wide_img">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 220,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">1460 비건</strong>
                                        <span><i class="fa-regular fa-heart"></i> 583</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_4-2-2.png" alt="" class="wide_img">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 220,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq3">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">제이든 II 모노</strong>
                                        <span><i class="fa-regular fa-heart"></i> 984</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_4-3-1.png" alt="">
                                        <img src="/resources/img/main/md_4-3-2.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 260,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="pgn_wrap">
                            <div class="pgn on"></div>
                            <div class="pgn"></div>
                            <div class="pgn"></div>
                        </div>
                        <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
            </li>
            <li>Made In England
                <div class="category_detail">
                    <div class="slide_wrap">
                        <div class="slide eq1">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">MIE 1461</strong>
                                        <span><i class="fa-regular fa-heart"></i> 7</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_5-1-1.jpg" alt="">
                                        <img src="/resources/img/main/md_5-1-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 300,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">MIE 1461</strong>
                                        <span><i class="fa-regular fa-heart"></i> 6</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_5-1-3.jpg" alt="">
                                        <img src="/resources/img/main/md_5-3-4.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 300,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq2">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">MIE 아드리안</strong>
                                        <span><i class="fa-regular fa-heart"></i> 153</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_5-2-1.jpg" alt="">
                                        <img src="/resources/img/main/md_5-2-2.jpg" alt="">
                                    <div class="wrap">
                                        <span class="price">\ 280,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">MIE 아드리안</strong>
                                        <span><i class="fa-regular fa-heart"></i> 80</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_5-2-3.jpg" alt="">
                                        <img src="/resources/img/main/md_5-2-4.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 280,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide eq3">
                            <div class="wrap">
                                <div class="item left">
                                    <div class="info">
                                        <strong class="product_name">MIE 빈티지 1461</strong>
                                        <span><i class="fa-regular fa-heart"></i> 257</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_5-3-1.png" alt="">
                                        <img src="/resources/img/main/md_5-3-2.jpg" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 280,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                                <div class="item right">
                                    <div class="info">
                                        <strong class="product_name">.MIE 빈티지 3989</strong>
                                        <span><i class="fa-regular fa-heart"></i> 222</span>
                                    </div>
                                    <div class="wrap imgw">
                                        <img src="/resources/img/main/md_5-3-3.png" alt="">
                                        <img src="/resources/img/main/md_5-3-4.png" alt="">
                                    </div>
                                    <div class="wrap">
                                        <span class="price">\ 290,000
                                        </span>
                                        <button type="button">장바구니 담기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="pgn_wrap">
                            <div class="pgn on"></div>
                            <div class="pgn"></div>
                            <div class="pgn"></div>
                        </div>
                        <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="item_con sec2">

</div>
<div class="best_icon sec3">

</div>
<div class="banner">
    <div class="inner">
        <span>닥터마틴 샌들과 함께 완성하는 트렌디한 여름 ></span><br>
        <strong class="big">샌들 스페셜 혜택 10%</strong><br><br>
        <div class="black_line long"></div>&nbsp;&nbsp;&nbsp;<div class="black_line short"></div>
    </div>
</div>
<div id="visual2">
    <img src="img/banner1.jpg" alt="">
    <div class="inner">
        <button type="button" class="view_more">자세히 보기 <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
</div>
<div class="category">
    <div class="inner">
        <div class="category_item">
            <div class="img_wrap">
                <img src="/resources/img/main/category1.jpg" alt="">
            </div>
            <div class="text">
                <strong class="big">여성</strong><br>
                <button type="button" class="view_more">바로가기 <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="category_item">
            <div class="img_wrap">
                <img src="/resources/img/main/category2.jpg" alt="">
            </div>
            <div class="text">
                <strong class="big">남성</strong><br>
                <button type="button" class="view_more">바로가기 <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="category_item">
            <div class="img_wrap">
                <img src="/resources/img/main/category3.jpg" alt="">
            </div>
            <div class="text">
                <strong class="big">오리지널 부츠</strong><br>
                <button type="button" class="view_more">바로가기 <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="category_item">
            <div class="img_wrap">
                <img src="/resources/img/main/category4.jpg" alt="">
            </div>
            <div class="text">
                <strong class="big">오리지널 슈즈</strong><br>
                <button type="button" class="view_more">바로가기 <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="category_item">
            <div class="img_wrap">
                <img src="/resources/img/main/category5.jpg" alt="">
            </div>
            <div class="text">
                <strong class="big">EXPLORE</strong><br>
                <button type="button" class="view_more">바로가기 <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="category_item">
            <div class="img_wrap">
                <img src="/resources/img/main/category6.jpg" alt="">
            </div>
            <div class="text">
                <strong class="big">BRAND</strong><br>
                <button type="button" class="view_more">바로가기 <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="membership">
    <div class="inner">
        <strong class="title big">닥터마틴 멤버십 혜택</strong>
        <div class="wrap">
            <div class="harf">
                <img src="/resources/img/main/mem1.jpg" alt=""><br>
                <div class="text_wrap">
                    <strong class="sml">무료 사이즈 1회 교환</strong>
                    <span class="gray">구매시 20% 적립금 사용 가능<br>구매하면 최대 20% 적립</span><br>
                    <button type="button" class="view_more">가입하러 가기 <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="harf">
                <img src="/resources/img/main/mem2.jpg" alt=""><br>
                <div class="text_wrap">
                    <strong class="sml">친구 초대시 5천원</strong>
                    <span class="gray">회원 가입시 추천인 아이디 입력하면<br>친구랑 나랑 모두 5천원 적립금</span><br>
                    <button type="button" class="view_more">자세히 보기 <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="inner">
        <span>HOW TO USE WONDER BALSAM ></span><br>
        <strong class="big">원더발삼 관리법</strong><br><br>
        <div class="black_line long"></div>&nbsp;&nbsp;&nbsp;<div class="black_line short"></div>
    </div>
</div>
	<!-- 하단 영역 -->
	<footer id="footer">
		<!-- top btn -->
		<div class="gotoTop">
			<button class="gotoTop_btn">
				<!-- <img src="/resources/img/floating_top.png" alt="맨위로 가기" /> -->
			</button>
		</div>
		<!-- //top btn -->
		<div class="ft_inner">
			<div class="ft_top cf">
				<div class="ft_left">
					<h3 class="ft_top_tit">닥터마틴코리아프로젝트</h3>
					<p class="ft_top_info_row">
						<span class="ft_top_info_column">신림이젠컴퓨터아카데미</span>
						<span class="ft_top_info_column">사업자번호 : 000-00-00000</span>
					</p>
					<p class="ft_top_info_row">
						<span class="ft_top_info_column">통신판매업 신고 : 0000 - 서울관악 - 0000호</span>
						<span class="ft_top_info_column">개인정보관리책임자 : 홍길동</span>
						<span class="ft_top_info_column">대표이사 : 스프링부트</span>
					</p>
					<p class="ft_top_info_row">
						<span class="ft_top_info_column"><strong>문의전화 : 0000-0000</strong> (9:30AM ~ 6PM 점심시간 13:10~14:10)</span>
						<span class="ft_top_info_column">이메일 : hello@email.co.kr</span>
					</p>
					<p class="ft_top_info_row">
						<span class="ft_top_info_column">팩스 : 02-000-0000</span>
						<span class="ft_top_info_column">호스팅 제공 : localhost</span>
					</p>
					<p class="ft_top_info_row">
						<span class="ft_top_info_column">All Images and Contents Copyright (c) 2022 Dr. Martens-Airwair Korea Ltd. All Rights Reserved.</span>
					</p>
				</div>
				<div class="ft_right ml0">
					<h3 class="ft_tit">고객센터</h3>
					<ul class="ft_top_menu">
						<li><a href="javascript:;" class="">챗봇 상담</a></li>
						<li><a href="javascript:;" class="">1 : 1 문의</a></li>
						<li><a href="javascript:;" class="">자주 묻는 질문</a></li>
						<li><a href="javascript:;" class="">공지사항</a></li>
					</ul>
				</div>
				<div class="ft_right">
					<h3 class="ft_tit">닥터마틴에 대하여</h3>
					<ul class="ft_top_menu">
						<li><a href="javascript:;" class="">브랜드 헤리티지</a></li>
						<li><a href="javascript:;" class="">이벤트</a></li>
						<li><a href="javascript:;" class="">SUSTAINABILITY</a></li>
						<li><a href="javascript:;" class="">MODERN SLAVERY ACT</a></li>
						<li><a href="javascript:;" class="">SOCIAL RESPONSIBILITY</a></li>
						<li><a href="javascript:;" class="">사이즈가이드</a></li>
					</ul>
				</div>
			</div>
			<div class="ft_btm">
				<div class="ft_nav">
					<ul class="ft_btm_list">
						<li class="ft_btm_list_item"><a href="javascript:;">이용약관</a></li>
						<li class="ft_btm_list_item"><a href="javascript:;">개인정보취급방침</a></li>
						<li class="ft_btm_list_item"><a href="javascript:;">매장찾기</a></li>
						<li class="ft_btm_list_item"><a href="javascript:;">CONTACT</a></li>
						<li class="ft_btm_list_item"><a href="javascript:;">사이트 맵</a></li>
					</ul>
				</div>
				
				<div class="sns_box">
					<a href="javascript:;" class="ml0"><i class="fa-brands fa-twitter"></i><span class="text_hiden">트위터</span></a>
					<a href="javascript:;"><i class="fa-brands fa-youtube"></i><span class="text_hiden">유투브</span></a>
					<a href="javascript:;"><i class="fa-brands fa-facebook-f"></i><span class="text_hiden">페이스북</span></a>
					<a href="javascript:;"><i class="fa-brands fa-instagram"></i><span class="text_hiden">인스타그램</span></a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>